.places__title {
    margin: 0 0 0 0;
    padding: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
}

@media screen and (width > 675px) and (width <=816px) {
    .places__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (width <=675px) {
    .places__title {
        margin-left: 16px;
        margin-right: 16px;
        grid-row: 1;
        font-size: 32px;
        line-height: 1.09;
    }
}