.cover__subtitle {
    padding: 0;
    margin: 32px 0 245px 0;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    z-index: 1;
}

@media screen and (width > 816px) and (width <=1024px) {
    .cover__subtitle {
        margin: 32px 0 195px 0;
    }
}

@media screen and (width > 675px) and (width <=816px) {
    .cover__subtitle {
        margin: 32px 0 115px 0;
    }
}

@media screen and (width <=675px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
        margin: 16px 0 33px 0;
    }
}