@media screen and (width >1024px) {
    .root__header {
        margin: 28px auto 0;
        max-width: 1184px;
    }
}

@media screen and (width > 816px) and (width <=1024px) {
    .root__header {
        margin: 28px auto 0;
        max-width: 928px;
    }
}

@media screen and (width > 675px) and (width <=816px) {
    .root__header {
        margin: 28px auto 0;
        max-width: 720px;
    }
}

@media screen and (width <=675px) {
    .root__header {
        margin: 16px auto 0;
        max-width: 288px;
    }

    .header__logo {
        background-image: url('../../../images/header-logo-sm.svg');
    }

    .header__lang-link {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.11px;
    }
}