.header__logo {
    line-height: 0;
    width: 176px;
    height: 52px;
    background-image: url('../../../images/header-logo.svg');
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

@media screen and (width <=675px) {
    .header__logo {
        background-image: url('../../../images/header-logo-sm.svg');
    }
}