@media screen and (width >1024px) {
    .content__places {
        margin: 92px auto 0;
        max-width: 984px;
    }
}

@media screen and (width > 816px) and (width <=1024px) {
    .content__places {
        margin: 92px auto 0;
        max-width: 928px;
    }
}

@media screen and (width > 675px) and (width <=816px) {
    .content__places {
        margin: 88px auto 0;
        max-width: 720px;
    }
}

@media screen and (width <=675px) {
    .content__places {
        margin: 64px auto 0;
        max-width: 320px;
    }
}