.lead__title {
    padding: 0;
    margin: 0;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

@media screen and (width >1024px) {
    .lead__title {
        font-size: 100px;
    }
}

@media screen and (width <=675px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
    }
}