.places__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (width > 675px) and (width <=816px) {
    .places__list {
        gap: 73px;
    }
}

@media screen and (width <=675px) {
    .places__list {
        gap: 50px;
    }
}