@media screen and (width >1024px) {
    .content__intro {
        max-width: 984px;
        margin: 92px auto 0;
    }
}

@media screen and (width > 816px) and (width <=1024px) {
    .content__intro {
        max-width: 928px;
        margin: 92px auto 0;
    }
}

@media screen and (width > 675px) and (width <=816px) {
    .content__intro {
        max-width: 720px;
        margin: 88px auto 0;
    }
}

@media screen and (width <=675px) {
    .content__intro {
        max-width: 288px;
        margin: 64px auto 0;
    }
}