@media screen and (width >1024px) {
    .lead__title {
        font-size: 100px;
    }

    .root__lead {
        margin: 56px auto 0;
        max-width: 984px;
    }
}

@media screen and (width > 816px) and (width <=1024px) {
    .root__lead {
        margin: 48px auto 0;
        max-width: 928px;
    }
}

@media screen and (width > 675px) and (width <=816px) {
    .root__lead {
        margin: 48px auto 0;
        max-width: 768px;
    }

    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (width <=675px) {
    .root__lead {
        margin: 48px auto 0;
        max-width: 320px;
    }

    .lead__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 1.1;
        text-align: center;
    }

    .lead__subtitle {
        margin-top: 16px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
    }

    .lead__caption {
        margin-left: 16px;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.4;
    }
}