.cover {
    background: linear-gradient(rgb(42, 44, 47, 0.3), rgb(42, 44, 47, 0.3)), url('../../images/cover-trains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cover:hover {
    background: linear-gradient(rgb(42, 44, 47, 0.8), rgb(42, 44, 47, 0.8)), url('../../images/cover-trains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}