@media screen and (width >1024px) {
    .root__places {
        margin: 92px auto 0;
        max-width: 984px;
    }
}

@media screen and (width > 816px) and (width <=1024px) {
    .root__places {
        margin: 92px auto 0;
        max-width: 928px;
    }

    .places__url-heading {
        font-size: 12px;
        line-height: 1.7;
    }

    .places__place {
        column-gap: 32px;
    }

    .places__image {
        width: 440px;
        height: 440px;
    }
}

@media screen and (width > 675px) and (width <=816px) {
    .root__places {
        margin: 88px auto 0;
        max-width: 720px;
    }

    .places__list {
        gap: 73px;
    }

    .places__place {
        column-gap: 28px;
    }

    .places__url-heading {
        font-size: 12px;
        line-height: 1;
    }

    .places__link {
        font-size: 18px;
        line-height: 1.22;
    }

    .places__image {
        width: 340px;
        height: 340px;
    }

    .places__place:first-child > .places__title {
        word-spacing: 9999px;
    }

    .places__title {
        font-size: 42px;
        line-height: 1.1
    }

    .places__paragraph {
        font-size: 16px;
    }
}

@media screen and (width <=675px) {
    .root__places {
        margin: 64px auto 0;
        max-width: 320px;
    }

    .places__list {
        gap: 50px;
    }

    .places__website {
        margin-left: 16px;
        grid-row: 2;
    }

    .places__image {
        grid-row: 3;
        width: 320px;
        height: 320px;
    }

    .places__title {
        margin-left: 16px;
        grid-row: 1;
        font-size: 32px;
        line-height: 1.09;
    }

    .places__paragraph {
        font-size: 16px;
    }

    .places__paragraphs {
        margin-left: 16px;
        grid-row: 4;
    }
}