.cover__title {
    padding: 0;
    margin: 245px 0 0 0;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    z-index: 1;
}

@media screen and (width > 816px) and (width <=1024px) {
    .cover__title {
        margin: 195px 0 0 0;
    }
}

@media screen and (width > 675px) and (width <=816px) {
    .cover__title {
        margin: 115px 0 0 0;
    }
}

@media screen and (width <=675px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
        margin: 33px 0 0 0;
    }
}